@import url("https://c9.io/alfredoabambres/wave-custom-styles/workspace/Rizzoma/minimal.css");

.tabs-container {
  z-index: 3;
  position: absolute;
  top: 0; left: 0;
  width: 320px !important;
  height: 50px;
  min-height: 0;
  margin: 0; 
  padding: 0;
}

.tabs-container .tab {
  display: inline-block;
  width: auto;
  height: 50px;
  margin: 0;
  margin-top: 0;
  padding: 0 8px;
  border: none;
}

.tabs-container .tab:first-child {
  height: 50px;
  width: 110px;
  text-align: right;
}

.tabs-container .pict {
  display: none;
}

.new-topic-buttons {
  position: absolute;
  top: 0;
  left: 10px;
  margin-top: 8px;
}

.help-tab {
  z-index: 3;
  position: absolute !important;
  top: 0;
  right: -50px;
}

.navigation-container {
  z-index: 4;
  position: absolute;
  left: 0;
  top: 50px;
  width: 320px;
}

.search-lists-container {
  width: 100%;
}

.right-tools-panel {
  z-index: 2;
  margin-top: 9px;
}
.right-tools-panel .account-container {
  height: 40px;
  margin: 0 15px;
}
.right-tools-panel .account-button {
  margin: 0; padding: 0;
}
.right-tools-panel .avatar {
  border: none;
}
.right-tools-panel .unvisible {
  display: none;
}

/*
WAVE
*/

.wave-container {
  z-index: 1;
  position: absolute !important;
  top: 0; left: -78px;
  margin-right: 65px !important;
  padding: 0;
}

.wave-header {
  background-color: #718aa0;
  float: right;

}

