/*
MINIMAL
a custom style for Rizzoma by http://www.wavewatchers.org

GET IT:
http://userstyles.org/styles/85193
https://github.com/WaveWatchers/wave-custom-styles/blob/master/Rizzoma/minimal.css
*/

.root-blip {
    margin-top: -1rem;
    padding-top: 2.5rem;
}

.root-thread .blip-container {
  border: 0;
  border-top: 1px solid #faa;
  border-radius: 0;
}
    
.blip-container .active {
  background-color: #ffd;
}

.blip-container .active:not(.root-blip) {
  background-color: #ffa;
  border-top: 2px solid #8292A1;
}

.blip-container.non-editable {
  background-color: #fafafa;
}

.root-thread .editor-container {
  padding-left: 3rem;
}

.blip-info {
  float: left;
  margin: 0 0 0 .2rem;
}

.blip-info .edit-date {
  left: 0;
}

.fold-button-container {
  margin-left: .2rem;
}