/*
MINIMAL
a custom style for Rizzoma by http://www.wavewatchers.org

GET IT:
http://userstyles.org/styles/85193/rizzoma-minimal-ui
https://github.com/WaveWatchers/wave-custom-styles/blob/master/Rizzoma/minimal.css
*/

.root-thread > .blips-container {
    margin: 0;
}

.root-blip {
    margin-top: -1rem;
    padding-top: 2.5rem;
}

.blips-container {
    box-shadow: none;
    margin: 1rem 0 1rem 0;
    width: 100%;
}

.blip-container {
    background-color: #fff !important;
    border: 0;
    border-radius: 0 !important;
    border-top: .1rem solid #fcc;
    margin-bottom: 0;
    min-height: 2.5rem;
    padding-bottom: .5rem;
}

.blip-container.active {
    background-color: #ffa !important;
}

.blip-container:last-child:not(.active) {
    border-bottom: .1rem solid #ccc;
}

.blip-info {
    float: left;
    margin: 0 .5rem 0 0;
}

.blip-info .edit-date {
    left: 0;
}


.editor-container {
    padding-left: 3rem;
}

.editor-container:first-child {
    padding-left: 0;
}

.fold-button-container {
    margin-left: .2rem;
}

.root-blip.active {
    background-color: #fff !important;
}

.root-blip > .blip-info {
    left: 1rem;
    position: absolute;
    top: 2.5rem;
}
